{% extends 'landing/base.html' %}

{% block content %}
<!-- Top bar with the name EzCnc -->

<form method="POST">
    <div class="image-container">
        {% for victim in victims %}
            <a href="control/{{victim.id}}" class="victim-link">
                <img class="victim-image" src="{{ victim.img }}" alt="Clickable Image">
                <p class="victim-name">{{ victim.name }}</p>
            </a>
        {% endfor %}
    </div>
</form>

<style>

    .image-container {
        display: flex; /* Use flexbox to display images side by side */
        justify-content: center; /* Center images horizontally */
        flex-wrap: wrap; /* Allow images to wrap to the next line if needed */
    }

    .victim-link {
        text-align: center; /* Center the text */
        margin: 50px; /* Add margin around each link */
        text-decoration: none; /* Remove default underline from links */
        color: #fff; /* Set text color */
        transition: transform 0.3s ease; /* Add smooth transition */
    }

    .victim-link:hover {
        transform: scale(1.05) rotate(10deg); /* Increase size and rotate on hover */
    }

    .victim-image {
        width: 150px; /* Set the width of each image */
        height: auto; /* Maintain aspect ratio */
        display: block; /* Ensure image is displayed as block element */
        margin-bottom: 10px; /* Add space between image and text */
        border-radius: 5px; /* Add some rounded corners to the image */
        transition: transform 0.3s ease; /* Add smooth transition */
    }

    .victim-image:hover {
        transform: scale(1.1) rotate(20deg); /* Increase size and rotate on hover */
    }

    .victim-name {
        margin: 0; /* Remove default margin */
        transition: color 0.3s ease; /* Add smooth transition */
    }

    .victim-link:hover .victim-name {
        color: #FF5733; /* Change text color on hover */
    }
</style>

{% endblock %}
